<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="deshaw.dae.descrypto.mappers.DashboardMapper">

    <resultMap id="AssetAvail" type="deshaw.dae.descrypto.domain.AssetsAvail">
        <id column="asset_id" property="asset_id" />
        <result column="name" property="name" />
        <result column="symbol" property="symbol" />
        <result column="fiat" property="fiat"/>
        <collection property="assetMarkets"
                    ofType="deshaw.dae.descrypto.domain.AssetMarket">
            <result property="id" column="id" />
            <result property="exchange" column="exchange"/>
            <result column="pair" property="pair"/>
            <result column="type" property="type"/>
        </collection>

    </resultMap>


    <select id="getAllAssetsAvail" resultMap="AssetAvail" resultType="deshaw.dae.descrypto.domain.AssetsAvail">
        select *
        from assets A
        left join asset_market M
        on M.asset_id = A.asset_id
    </select>
    <select id="getAssetByid" parameterType="java.lang.String" resultMap="AssetAvail">
        select *
        from assets A
        left join asset_market M
        on M.asset_id = A.asset_id
        where symbol = #{assetID}
    </select>

    <resultMap id="PairsAvail" type="deshaw.dae.descrypto.domain.TradingPairs">
        <id column="pair_id" property="PairID" />
        <result column="symbol" property="PairSymbol"/>
        <result column="asset1" property="Asset1ID"/>
        <result column="asset2" property="Asset2ID"/>
    </resultMap>

    <select id="getAllTradingPairsAvail" resultMap="PairsAvail">
        select * from pairs
    </select>

    <select id="getTradingPairbyId" parameterType="java.lang.String" resultMap="PairsAvail">
        select * from pairs where symbol = #{symb}
    </select>

</mapper>