<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="deshaw.dae.descrypto.mappers.UserMapper">
    <resultMap id="BaseResultMap"  type="deshaw.dae.descrypto.domain.User" >
        <result column="username" property="username"   />
        <result column="password" property="password"   />
    </resultMap>

    <select id="findByUsername"  resultMap="BaseResultMap">
        select username,password from userdb where username=#{username}
    </select>
    <insert id="addUser" parameterType="deshaw.dae.descrypto.domain.User">
        insert into userdb(username,password)
        values(#{username},#{password})
    </insert>
</mapper>
