<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="deshaw.dae.descrypto.mappers.OrderMapper">
    <insert id="placeOrder" parameterType="deshaw.dae.descrypto.domain.Order" keyProperty="orderId"
    keyColumn="orderId" useGeneratedKeys="true">
        insert into orders(userId,tradingType,orderPair,amount,limitPrice,orderType,orderStatus,filled,total,average,side)
        values(#{userId},#{tradingType},#{orderPair},#{amount},
        #{limitPrice},#{orderType},#{orderStatus},#{filled},#{total},#{average},#{side})

    </insert>

    <resultMap id="OrderResultMap" type="deshaw.dae.descrypto.domain.Order">
        <id column="orderId" property="orderId" />
        <result column="userId" property="userId" />
        <result column="tradingType" property="tradingType" />
        <result column="orderPair" property="orderPair" />
        <result column="amount" property="amount" />
        <result column="limitPrice" property="limitPrice" />
        <result column="average" property="average" />
        <result column="orderType" property="orderType" />
        <result column="side" property="side" />
        <result column="orderStatus" property="orderStatus" />
        <result column="filled" property="filled" />
        <result column="total" property="total" />
        <result column="triggerPrice" property="triggerPrice" />
        <result column="timestamp" property="timestamp" />
    </resultMap>

    <select id="orderHistory" resultMap="OrderResultMap">
        select * from orders
        where userId=#{userId}
        <if test="data.orderId != null">
            AND orderId = #{data.orderId}
        </if>
        <if test="data.orderPair != null">
            AND orders.orderPair=#{data.orderPair}
        </if>
        <if test="data.orderStatus !=null ">
            AND orders.orderStatus=#{data.orderStatus}
        </if>
        <if test="data.timestamp1 !=null and data.timestamp2 !=null ">
            AND orders.timestamp BETWEEN #{data.timestamp1} and #{data.timestamp2}
        </if>

    </select>


    <select id="openOrders" resultMap="OrderResultMap">
        select * from orders
        where (orderStatus='open' OR orderStatus='partially_filled' ) AND side=#{side}
    </select>

    <update id="updateOrder" parameterType="deshaw.dae.descrypto.domain.Order">
        UPDATE orders
        SET orderStatus = #{orderStatus}, filled = #{filled}, average = #{average}, total = #{total}
        WHERE orders.orderId = #{orderId}
    </update>

    <update id="cancelOrder" >
        UPDATE orders
        SET orderStatus = 'cancelled'
        WHERE orders.orderId = #{orderId} AND orderStatus!='filled'
    </update>

    <select id="getOrder" resultMap="OrderResultMap">
        select * from orders
        where orderId=#{orderId}
    </select>
</mapper>

