<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="deshaw.dae.descrypto.mappers.OrderMapper">
    <insert id="placeLimitOrder" parameterType="deshaw.dae.descrypto.domain.Order" keyProperty="orderId"
    keyColumn="orderId" useGeneratedKeys="true">
        insert into orders(userId,orderPair,amount,limitPrice,orderType,orderStatus,filled,total)
        values(#{userId},#{orderPair},#{amount},
        #{limitPrice},#{orderType},#{orderStatus},#{filled},#{total})
    </insert>

    <insert id="placeMarketOrder" parameterType="deshaw.dae.descrypto.domain.Order" keyProperty="orderId"
            keyColumn="orderId" useGeneratedKeys="true">
        insert into orders(userId,orderPair,amount,limitPrice,orderType,orderStatus,filled,total)
        values(#{userId},#{orderPair},#{amount},
        #{limitPrice},#{orderType},#{orderStatus},#{filled},#{total})
    </insert>
    <insert id="placeStopLossMarketOrder" parameterType="deshaw.dae.descrypto.domain.Order" keyProperty="orderId"
            keyColumn="orderId" useGeneratedKeys="true">
        insert into orders(userId,orderPair,amount,limitPrice,orderType,orderStatus,filled,total,triggerPrice)
        values(#{userId},#{orderPair},#{amount},
        #{limitPrice},#{orderType},#{orderStatus},#{filled},#{total},#{triggerPrice})
    </insert>
    <insert id="placeStopLossLimitOrder" parameterType="deshaw.dae.descrypto.domain.Order" keyProperty="orderId"
            keyColumn="orderId" useGeneratedKeys="true">
        insert into orders(userId,orderPair,amount,limitPrice,orderType,orderStatus,filled,total,triggerPrice)
        values(#{userId},#{orderPair},#{amount},
        #{limitPrice},#{orderType},#{orderStatus},#{filled},#{total},#{triggerPrice})
    </insert>
</mapper>