<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="deshaw.dae.descrypto.mappers.TradeMapper">

    <resultMap id="tradeResultMap" type="deshaw.dae.descrypto.domain.Trade">
        <id column="tradeId" property="tradeId" />
        <result column="price" property="price" />
        <result column="filled" property="filled" />
        <result column="total" property="total" />

    </resultMap>

    <select id="tradeHistory" resultMap="tradeResultMap">
        select *
        from trades
        INNER JOIN orders
        ON (trades.buy_orderId=orders.orderId AND orders.side='buy' ) or (trades.sell_orderId=orders.orderId AND orders.side='sell' )
        where orders.userId=#{userId}
        <if test="data.orderId != null">
            AND orders.orderId=#{data.orderId}
        </if>
        <if test="data.orderPair != null">
            AND orders.orderPair=#{data.orderPair}
        </if>
        <if test="data.timestamp1 !=null and data.timestamp2 !=null ">
            AND trades.timestamp BETWEEN #{data.timestamp1} and #{data.timestamp2}
        </if>
    </select>

    <insert id="createTrade" parameterType="deshaw.dae.descrypto.domain.Trade" keyProperty="tradeId"
            keyColumn="tradeId" useGeneratedKeys="true" >
        insert into trades(filled,total,price,buy_orderId,sell_orderId,timestamp)
        values(#{filled},#{total},
        #{price},#{buy_Id},#{sell_Id},#{timestamp})
    </insert>

</mapper>